In [ ]:
import torch
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

df['val1']=df['Geography'].apply(lambda x: 1 if x=='France' else 2 if x=='Germany' else 3  )
df['val2']=df['Gender'].apply(lambda x: 1 if x=='Male' else 2  )
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,val1,val2
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,3,2
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,2
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,1,2
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,1,1
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,1,1
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1,2
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,2,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,1,2

In [ ]:
a= df['Exited'].values
b=df.drop(['RowNumber','Surname','Geography','Gender','Exited'],axis=1).values

X_train,X_test,y_train,y_test=train_test_split(b,a, test_size=0.2)

In [ ]:
X_train

array([[1.5707505e+07, 6.9900000e+02, 3.1000000e+01, ..., 1.4766147e+05,
        3.0000000e+00, 1.0000000e+00],
       [1.5695197e+07, 5.5300000e+02, 2.5000000e+01, ..., 2.0682460e+04,
        2.0000000e+00, 2.0000000e+00],
       [1.5698184e+07, 4.8400000e+02, 5.0000000e+01, ..., 4.8170570e+04,
        1.0000000e+00, 2.0000000e+00],
       ...,
       [1.5584090e+07, 6.2100000e+02, 4.0000000e+01, ..., 1.3128360e+05,
        3.0000000e+00, 2.0000000e+00],
       [1.5778089e+07, 5.4400000e+02, 3.7000000e+01, ..., 1.3506702e+05,
        3.0000000e+00, 1.0000000e+00],
       [1.5645904e+07, 6.8500000e+02, 3.3000000e+01, ..., 1.8678501e+05,
        1.0000000e+00, 2.0000000e+00]])

In [ ]:
x= StandardScaler()
X_train =x.fit_transform(X_train)
X_test =x.fit_transform(X_test)
X_train

array([[ 0.23355182,  0.49741035, -0.75334287, ...,  0.83069781,
         1.52182032, -0.91071825],
       [ 0.06209417, -1.01527825, -1.31978383, ..., -1.37598463,
         0.31066209,  1.09803444],
       [ 0.10370483, -1.73017903,  1.04038683, ..., -0.89828733,
        -0.90049614,  1.09803444],
       ...,
       [-1.48569141, -0.31073836,  0.09631856, ...,  0.54607787,
         1.52182032,  1.09803444],
       [ 1.21682828, -1.10852618, -0.18690191, ...,  0.61182737,
         1.52182032, -0.91071825],
       [-0.62458619,  0.35235802, -0.56452922, ...,  1.51059938,
        -0.90049614,  1.09803444]])

In [ ]:
import torch
import torch.nn as nn
import torch.nn.functional as F
class exited(nn.Module):

  def __init__(self):
      super(exited, self).__init__()
      self.l1 = nn.Linear(11,100)
      self.l2 = nn.Linear(100,100)
      self.output =nn.Linear(100,1)

  def forward(self,x):
      x=F.relu(self.l1(x))
      x=F.sigmoid(self.l2(x))
      x=torch.sigmoid(self.output(x))
      return x

In [ ]:
model = exited()
criterion = nn.BCELoss() # Binary Cross Entropy Loss
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

epochs = 200
for epoch in range(epochs):
    # Convert arrays to tensors
    inputs = torch.tensor(X_train, dtype=torch.float32)
    labels = torch.tensor(y_train, dtype=torch.float32)

    # Forward pass
    outputs = model(inputs)
    loss = criterion(outputs, labels.unsqueeze(1))

    # Backward pass and optimization
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    if (epoch+1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}')

Epoch [10/200], Loss: 0.4728
Epoch [20/200], Loss: 0.4337
Epoch [30/200], Loss: 0.4125
Epoch [40/200], Loss: 0.3925
Epoch [50/200], Loss: 0.3705
Epoch [60/200], Loss: 0.3505
Epoch [70/200], Loss: 0.3382
Epoch [80/200], Loss: 0.3319
Epoch [90/200], Loss: 0.3261
Epoch [100/200], Loss: 0.3206
Epoch [110/200], Loss: 0.3144
Epoch [120/200], Loss: 0.3075
Epoch [130/200], Loss: 0.3002
Epoch [140/200], Loss: 0.2921
Epoch [150/200], Loss: 0.2837
Epoch [160/200], Loss: 0.2773
Epoch [170/200], Loss: 0.2700
Epoch [180/200], Loss: 0.2649
Epoch [190/200], Loss: 0.2596
Epoch [200/200], Loss: 0.2557

In [ ]:
with torch.no_grad():
    y_predicted = model(torch.tensor(X_test, dtype=torch.float32))
    y_predicted_cls = y_predicted.round()
    acc = y_predicted_cls.eq(torch.tensor(y_test).unsqueeze(1)).sum()/ float(y_test.shape[0])
    print(f'Accuracy: {acc:.4f}')

Accuracy: 0.8520

In [ ]:

y_predicted_cls.eq(torch.tensor(y_test).unsqueeze(1))[0:31].T

tensor([[ True,  True, False,  True,  True,  True,  True,  True,  True, False,
          True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
          True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
          True]])

In [ ]:
y_predicted_cls[0:31].T

tensor([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
y_test[19]

np.int64(0)