**Hello everyone!**

This assignment is based on basics of python and then gradually moves on to the python libraries required for working in ML.

**Workflow**

Above each cell there are some instructions and resources (wherever necessary) for completing the question. You are supposed to solve the questions in the cells below the question text, feel free to add cells if you want.

Note: All the documentations provided are very extensive and you do not need to know everything but you are expected to be able to refer to them as and when required.

# Basic Python

If you are absolutely new to python, quickly go through this video: https://www.youtube.com/watch?v=K5KVEU3aaeQ&ab_channel=ProgrammingwithMosh

This will help you brush up your python to get your started.

# Part A

**Q.1**

 Create an array of 10 zeros.
Create an array of 10 fives.
 Create a 3x3 matrix with values ranging from 0 to 8
Use NumPy to generate a random number between 0 and 1
Create an array of 20 linearly spaced points between 0 and 1
  Write a program that counts how many vowels are in a string.





1.   Create an array of 10 zeros.
2.   Create an array of 10 fives.
3.   Create a 3x3 matrix with values ranging from 0 to 8
4.   Use NumPy to generate a random number between 0 and 1
5.   Create an array of 20 linearly spaced points between 0 and 1
7.   Write a program that counts how many vowels are in a string.

In [ ]:
## your code(for different question use different cells)
##like Q.1.
import numpy as np
zeros_array = np.zeros(10)
print(zeros_array)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [ ]:
#Q.1.2
import numpy as np
fives_array = np.full(10,5)
print(fives_array)

[5 5 5 5 5 5 5 5 5 5]

In [ ]:
#Q.1.3
import numpy as np
matrix_3x3 = np.arange(9).reshape(3,3)
print(matrix_3x3)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [ ]:
#Q.1.4
import numpy as np
random_num = np.random.rand()
print(random_num)

0.14222074132162532

In [ ]:
#Q.1.5
import numpy as np
linear_points = np.linspace(0,1,20)
print(linear_points)

[0.         0.05263158 0.10526316 0.15789474 0.21052632 0.26315789
 0.31578947 0.36842105 0.42105263 0.47368421 0.52631579 0.57894737
 0.63157895 0.68421053 0.73684211 0.78947368 0.84210526 0.89473684
 0.94736842 1.        ]

In [ ]:
#Q.1.6
def count_vowels(s):
    count = 0
    vowels = "aeiouAEIOU"
    for char in s:
        if char in vowels:
            count += 1
    return count
sample_string = "it is amazing"
vowel_count = count_vowels(sample_string)
print(vowel_count)

5

**Q.2**


1.   Extract the even numbers from this array using slicing.

numbers = [12, 7, 44, 19, 102, -8, 33, 56, 77, 90, 121, -24, 48]

2. Create a 2D array with 5 rows and 4 columns, filled with random integers between 10 and 100.
3. Extract a 3x2 subarray from the 2D array (e.g., first three rows, first two columns).
4. Reshape the 1D array of integers into a 4x5 2D array.
5. Flatten the 2D array back to a 1D array and print it.
6. Perform matrix multiplication between two 2D arrays (you can generate the second 2D array randomly).

In [ ]:
##Q.2.1
numbers = [12, 7, 44, 19, 102, -8, 33, 56, 77, 90, 121, -24, 48]
even_numbers = [num for num in
                numbers if num % 2 == 0]
print(even_numbers)

[12, 44, 102, -8, 56, 90, -24, 48]

In [ ]:
#Q.2.2
import numpy as np
array_2d = np.random.randint(10, 101, size=(5,4))
print(array_2d)

[[73 19 54 81]
 [93 81 61 50]
 [14 26 84 73]
 [47 72 94 74]
 [80 66 66 41]]

In [ ]:
#Q.2.3
subarray_3x2 = array_2d[:3, :2]
print(subarray_3x2)

[[73 19]
 [93 81]
 [14 26]]

In [ ]:
#Q.2.5 (assuming this was intended for Q.2.5, to flatten array_2d)
import numpy as np
array_1d = array_2d.flatten()
print(array_1d)

[73 19 54 81 93 81 61 50 14 26 84 73 47 72 94 74 80 66 66 41]

In [ ]:
#Q.2.6
import numpy as np
array1 = np.array([[1, 2],[3, 4]])
array2 = np.array([[5, 6], [7, 8]])
result = np.dot(array1, array2)
print(result)

**Q.3**

(i) Check if matrix multiplication is valid

In [ ]:
import numpy as np
def isValid(A,B):
  array1 = np.array(A)
  array2 = np.array(B)
  if array1.shape[1] == array2.shape[0]:
    print("Valid")
  else:
    print("Invalid Input")

(ii) Using loops (without using numpy)

In [ ]:
def matrix_multiply(A,B):
  array1 = np.array(A)
  array2 = np.array(B)
  box = []
  for i in range(0,array1.shape[0]):
    for j in range(0,array2.shape[1]):
      y=0
      for k in range(0,array1.shape[1]):
        y += array1[i][k] * array2[k][j]
        box.append(y)

**Q.4**
**Linear Regression:-** https://tahera-firdose.medium.com/linear-regression-derivation-of-slope-and-intercept-using-ordinary-least-square-971534ec6b77

(i) Given:

In [ ]:
X = [1,2,3,4,5]
y = [2,4,5,4,5]

# Initialize variables for sums
sum_X = 0
sum_y = 0

# Calculate sum of X
for val in X:
  sum_X += val
mean_X = sum_X / len(X)
print(f"Mean of X: {mean_X}")

# Calculate sum of y
for val in y:
  sum_y += val
mean_Y = sum_y / len(y)
print(f"Mean of Y: {mean_Y}")

n = len(X)
num = sum((X[i] - mean_X) * (y[i] - mean_Y) for i in range(n))
den = sum((X[i] - mean_X) ** 2 for i in range(n))
m = num / den
c = mean_Y - m * mean_X
print("Slope (m):", m)
print("Intercept (c):", c)
Y_pred = [m * x + c for x in X]
print("Predicted Y values:" , Y_pred)

Mean of X: 3.0
Mean of Y: 4.0
Slope (m): 0.6
Intercept (c): 2.2
Predicted Y values: [2.8000000000000003, 3.4000000000000004, 4.0, 4.6, 5.2]

Compute:

mean of X

mean of y

slope (m)

intercept (c)

predicted values

No libraries allowed.(sklearn or numpy)

##  Pandas

In [2]:
import pandas as pd
import gdown

# Google Drive file ID for 'performance_dataset.csv'
file_id = '1Q4bT1VNcZFY-tA3x3BV8MwqezuhqVFLq'
url = f'https://drive.google.com/uc?id={file_id}'

# Define the local path where the file will be saved
file_path = 'performance_dataset.csv'

# Download the file using gdown
# If gdown is not installed, you might need to run: !pip install gdown
gdown.download(url, file_path, quiet=False)

df = pd.read_csv(file_path)
df_backup = df.copy()

print("--- DataFrame Head ---")
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

print("\n--- DataFrame Info ---")
df.info()

print("\n--- DataFrame Describe (Numerical Columns) ---")
print(df.describe().to_markdown(numalign="left", stralign="left"))

print("\n--- DataFrame Shape ---")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

Downloading...
From: https://drive.google.com/uc?id=1Q4bT1VNcZFY-tA3x3BV8MwqezuhqVFLq
To: /content/performance_dataset.csv
100%|██████████| 1.02M/1.02M [00:00<00:00, 106MB/s]

--- DataFrame Head ---
| hours_studied   | attendance_percent   | parent_education   | internet_access   | school_type   | sports_participation   | part_time_job   | siblings   | commute_time_mins   | favorite_subject   | club_member   | self_study_hours   | pet_count   | locker_number   | bus_route   | screen_time_weekly   | height_cm   | weight_kg   | lunch_type   | math_tutor   | reading_habit   | video_game_freq   | music_hours_weekly   | parent_meeting_freq   | uniform   |
|:----------------|:---------------------|:-------------------|:------------------|:--------------|:-----------------------|:----------------|:-----------|:--------------------|:-------------------|:--------------|:-------------------|:------------|:----------------|:------------|:---------------------|:------------|:------------|:-------------|:-------------|:----------------|:------------------|:---------------------|:----------------------|:----------|
| 4.74311         | 79.7815              | 3                  | nan               | nan           | 1                      | 0               | 4          | 31.6814             | 2                  | 0             | 1.23025            | 0           | 169             | 2           | 2.33967              | 157.398     | 53.0553     | 0            | nan          | 1               | 0                 | 0.898032             | 1                     | 1         |
| 10.992          | 97.6666              | 3                  | 1                 | 0             | 3                      | nan             | 1          | 19.4239             | 4                  | nan           | 1.35907            | 0           | 375             | 4           | nan                  | 151.296     | 60.6282     | 2            | 1            | 1               | 3                 | 3.2914               | 0                     | 0         |
| 8.84894         | 57.9506              | 2                  | 0                 | 0             | 1                      | 0               | 3          | 28.86               | 0                  | 1             | 0.23344            | nan         | 183             | 1           | 16.9894              | 183.901     | 65.6555     | 0            | 1            | 0               | 1                 | 0                    | 2                     | 1         |
| 3.48112         | 84.6369              | 0                  | 0                 | 0             | 2                      | 0               | 4          | 40.0839             | 1                  | 1             | 1.8573             | 2           | 267             | 13          | 11.6311              | 164.836     | 38.3573     | 2            | 1            | 2               | 1                 | 2.41023              | 0                     | 0         |
| 6.2642          | 58.0818              | 1                  | 0                 | 0             | 3                      | 1               | 2          | 23.8388             | 2                  | 1             | 1.19398            | 1           | 149             | 18          | 15.3729              | 166.304     | 39.2718     | nan          | 0            | 1               | 2                 | 1.20028              | 1                     | 1         |

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   hours_studied         4750 non-null   float64
 1   attendance_percent    4750 non-null   float64
 2   parent_education      4750 non-null   float64
 3   internet_access       4750 non-null   float64
 4   school_type           4750 non-null   float64
 5   sports_participation  4750 non-null   float64
 6   part_time_job         4750 non-null   float64
 7   siblings              4750 non-null   float64
 8   commute_time_mins     4750 non-null   float64
 9   favorite_subject      4750 non-null   float64
 10  club_member           4750 non-null   float64
 11  self_study_hours      4750 non-null   float64
 12  pet_count             4750 non-null   float64
 13  locker_number         4750 non-null   float64
 14  bus_route             4750 non-null   float64
 15  screen_time_weekly    4750 non-null   float64
 16  height_cm             4750 non-null   float64
 17  weight_kg             4750 non-null   float64
 18  lunch_type            4750 non-null   float64
 19  math_tutor            4750 non-null   float64
 20  reading_habit         4750 non-null   float64
 21  video_game_freq       4750 non-null   float64
 22  music_hours_weekly    4750 non-null   float64
 23  parent_meeting_freq   4750 non-null   float64
 24  uniform               4750 non-null   float64
dtypes: float64(25)
memory usage: 976.7 KB

--- DataFrame Describe (Numerical Columns) ---
|       | hours_studied   | attendance_percent   | parent_education   | internet_access   | school_type   | sports_participation   | part_time_job   | siblings   | commute_time_mins   | favorite_subject   | club_member   | self_study_hours   | pet_count   | locker_number   | bus_route   | screen_time_weekly   | height_cm   | weight_kg   | lunch_type   | math_tutor   | reading_habit   | video_game_freq   | music_hours_weekly   | parent_meeting_freq   | uniform   |
|:------|:----------------|:---------------------|:-------------------|:------------------|:--------------|:-----------------------|:----------------|:-----------|:--------------------|:-------------------|:--------------|:-------------------|:------------|:----------------|:------------|:---------------------|:------------|:------------|:-------------|:-------------|:----------------|:------------------|:---------------------|:----------------------|:----------|
| count | 4750            | 4750                 | 4750               | 4750              | 4750          | 4750                   | 4750            | 4750       | 4750                | 4750               | 4750          | 4750               | 4750        | 4750            | 4750        | 4750                 | 4750        | 4750        | 4750         | 4750         | 4750            | 4750              | 4750                 | 4750                  | 4750      |
| mean  | 8.07837         | 74.6967              | 1.51158            | 0.503158          | 0.993263      | 1.50442                | 0.489053        | 2.032      | 30.4609             | 2.00442            | 0.504421      | 2.00717            | 1.02316     | 351.102         | 10.22       | 13.9029              | 160.07      | 54.8528     | 0.987789     | 0.507158     | 1.50779         | 1.49747           | 5.04712              | 0.999579              | 0.504632  |
| std   | 2.94897         | 14.2969              | 1.1241             | 0.500043          | 0.813627      | 1.11134                | 0.499933        | 1.4266     | 14.3576             | 1.41488            | 0.500033      | 1.13209            | 1.0032      | 145.11          | 5.47248     | 5.99848              | 11.8849     | 11.902      | 0.820008     | 0.500001     | 1.10943         | 1.10945           | 2.86145              | 0.813913              | 0.500031  |
| min   | 0               | 40                   | 0                  | 0                 | 0             | 0                      | 0               | 0          | 5                   | 0                  | 0             | 0                  | 0           | 100             | 1           | 0                    | 130         | 30          | 0            | 0            | 0               | 0                 | 0                    | 0                     | 0         |
| 25%   | 6.06702         | 64.6669              | 0                  | 0                 | 0             | 1                      | 0               | 1          | 20.1859             | 1                  | 0             | 1.20361            | 0           | 225             | 6           | 9.89941              | 151.928     | 46.5848     | 0            | 0            | 1               | 1                 | 2.99705              | 0                     | 0         |
| 50%   | 8.11345         | 74.8932              | 2                  | 1                 | 1             | 2                      | 0               | 2          | 29.9994             | 2                  | 1             | 1.98116            | 1           | 354             | 10          | 13.8936              | 159.997     | 54.7957     | 1            | 1            | 1               | 2                 | 5.03174              | 1                     | 1         |
| 75%   | 10.0684         | 85.1046              | 3                  | 1                 | 2             | 2                      | 1               | 3          | 40.205              | 3                  | 1             | 2.80233            | 2           | 477             | 15          | 18.0271              | 168.187     | 63.085      | 2            | 1            | 3               | 2                 | 7.04346              | 2                     | 1         |
| max   | 18.7147         | 100                  | 3                  | 1                 | 2             | 3                      | 1               | 9          | 85.2686             | 4                  | 1             | 5.98349            | 6           | 599             | 19          | 34.4995              | 200         | 96.8244     | 2            | 1            | 3               | 3                 | 13.984               | 2                     | 1         |

--- DataFrame Shape ---
Rows: 5000, Columns: 25

csv file:- https://drive.google.com/file/d/1Q4bT1VNcZFY-tA3x3BV8MwqezuhqVFLq/view?usp=sharing

**Perform the following operations on the csv file:**

1. Read the csv into a pandas dataframe and back it up (you will thank yourself for doing this when you mess up something while manipulating the dataframe).
2. Explore the dataframe (find out the different ways you can do this).
3. Play around with each column of the dataframe and figure out ways to modify them according to your needs.
4. Read up on ``iloc`` and demonstrate it on the dataframe.
5. Handle ``null`` values in the dataframe.
6. Try dropping rows/columns.
7. Filter rows where a string column starts with a specific letter.
8. Create a new column as a combination of two existing columns (this is feature engineering which you may use in your ML journey).